body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#gameArea {
    width: 800px;
    height: 100px;
    border: 2px solid black;
    position: relative;
    margin: 0 auto;
    background-color: #f0f0f0;
}

#mover {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 25px;
    left: 0px;
}

#target {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    top: 25px;
    left: 375px; /* Center of the game area */
}

#winCount {
    font-size: 24px;
    margin-top: 20px;
}

#message {
    font-size: 32px;
    color: blue;
    margin-top: 20px;
}

#restart {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
